@model Producto

@{
    ViewBag.OcultarHeader = true;
    List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
}



<!-- content -->
<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="@Model.ImgUrl">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="@Model.ImgUrl" />
                    </a>
                </div>

                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        @Model.Nombre
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                        <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                        <span class="text-success ms-2">In stock</span>
                    </div>

                    <div class="mb-3">
                        <span class="h5">$@Model.Precio.00</span>
                    </div>

                    <p>
                        @Model.Descripcion
                    </p>
                    <hr />

                    <div class="row mb-4">
                        <!-- col.// -->
                        <div class="col-md-4 col-6 mb-3">
                            <label class="mb-2 d-block">Quantity</label>
                            <div class="input-group mb-3" style="width: 170px;">
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="text" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    @if (carrito != null && carrito.Contains(Model.Id))
                    {
                        <button disable class="btn btn-outline-danger disabled">En carrito</button>
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="btn btn-primary shadow-0" onclick="agregarAlCarrito(@Model.Id)"> <i class="me-1 fa fa-shopping-basket"></i> Añadir al carrito</a>
                    }
                </div>
            </main>
        </div>
    </div>
</section>
<!-- content -->


<script>
    function agregarAlCarrito(productoId) {
        var form = document.createElement('form');
        form.method = 'post';
        form.action = '@Url.Action("AgregarAlCarrito", "Carrito")';

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'productoId';
        input.value = productoId;
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }
</script>
